@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  @apply font-sans;
  outline: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


#navbar a { 
  @apply transition ease-in-out hover:text-gray-500 flex items-center w-full justify-center py-3;
}

.card { 
  @apply bg-white shadow-lg  shadow-amber-500/50 border-2 border-amber-500 rounded-md hover:scale-125 transition ease-in-out;
}

.view-container { 
  @apply w-full flex flex-col;
  height: 90vh;
}

.input_contact {
  @apply border px-3 py-2 rounded-sm border-orange-400 shadow shadow-orange-400/50;
}